ClearsXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CourseID"/>
              <xs:element type="xs:string" name="Difficulty"/>
              <xs:element type="xs:string" name="Style"/>
              <xs:element type="xs:string" name="Maker"/>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="CreationDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>