PlayerDataXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PlayerID"/>
              <xs:element type="xs:string" name="PlayerImage"/>
              <xs:element type="xs:string" name="PlayerFlag"/>
              <xs:element type="xs:string" name="PlayerName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>